
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'EmployeeMain' %}" class="btn btn-link">Вернуться в главную панель</a>
  <h1>Введите номер водительского удостовренеия водителя</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.number }}
    <button type="submit">Найти</button>
  </form>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}

<p>Памятки для сотрудника ГИБДД при регистрации автомобиля водителя</p>
	<ol>
		<li>Убедитесь, что водитель предоставил все необходимые документы: паспорт, водительское удостоверение, технический паспорт и страховой полис ОСАГО.</li>
		<li>Проверьте, что данные в документах водителя совпадают с информацией о машине (номер кузова, двигателя, государственный номер).</li>
		<li>Проверьте наличие задолженностей по оплате штрафов или других нарушений, связанных с водительскими правами или автомобилем.</li>
		<li>Ознакомьте водителя с правилами дорожного движения и напомните о необходимости соблюдения скоростного режима, использования ремней безопасности и прочих правил.</li>
		<li>Объясните, как правильно заполнить бланк заявления на регистрацию автомобиля и ответьте на все вопросы, которые могут возникнуть у водителя.</li>
		<li>Внимательно проверьте все данные в заявлении на регистрацию автомобиля, чтобы избежать ошибок и опечаток.</li>
		<li>Сообщите водителю о сроках выдачи регистрационных документов и о том, как и где их можно получить.</li>
		<li>Напомните водителю о необходимости прохождения технического осмотра автомобиля через определенный период времени.</li>
		<li>При регистрации автомобиля обязательно выдайте водителю временное разрешение на эксплуатацию машины до получения официальных регистрационных документов.</li>
	</ol>
</body>
</html>