

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Информация о водителе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <a href="{% url 'search_driver_license' %}" class="btn btn-link">Назад к поиску водительских удостоверений</a>
      <h1>Информация о водителе</h1>
      <p>Имя: {{ drivers.name }}</p>
      <p>Фамилия: {{ drivers.surname }}</p>
      <p>Номер водительского удостоверения: {{ driver_license.number }}</p>
      <p>Статус: {{ driver_license.status.status }}</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  <bode>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        
    <body>
      <hr>
    </body>
    </html>
  </body>
</html>