

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Информация о водителе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <a href="{% url 'search_driver_license' %}" class="btn btn-link">Назад к поиску водительских удостоверений</a>
      <h1>Информация о водителе</h1>
      <hr>
      <div style="overflow: hidden;">
        <div style="float: left; width: 40%;">
      <p>Имя: {{ drivers.name }}</p>
      <p>Фамилия: {{ drivers.surname }}</p>
      <hr style="float: up; width: 100%;">
      <p>Номер водительского удостоверения: {{ driver_license.number }}</p>
      <p>Статус:
        {% if driver_license.status.id == 1 %}
           <span class="text-success">{{ driver_license.status.status }}</span>
           {% elif driver_license.status.id == 2 %}
          
                <span class="text-danger">{{ driver_license.status.status }}</span>
                {% endif %}
              </p> 
      {% comment %} <p>Статус: {{ driver_license.status.status }}</p> {% endcomment %}
      
    </div>
    <div style="float: left; width: 10%;">
      

      <p>Город: {{ address.City }}</p>
      <p>Улица: {{ address.Street }}</p>
      <p>Дом: {{ address.House }}</p>
      <p>Квартира: {{ address.Flat }}</p>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  <bode>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        
    <body>
      <hr>
    </body>
    </html>
  </body>
</html>