{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Информация о водителе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container" style="float: up; width: 100%;">
        <a href="{% url 'search_driver_license' %}" class="btn btn-link">Назад к поиску водительских удостоверений</a>
        
        <hr>
        <div style="overflow: hidden;">
            <div style="float: right; width: 30%;">
                {% for car in cars %}
                <h1>Информация об автомобиле:</h1>
                <p>Марка: {{ car.carinformation.Brand }}</p>
                <p>Модель: {{ car.carinformation.Model }}</p>
                <p>Цвет: {{ car.carinformation.Color }}</p>
                <p>Год выпуска: {{ car.carinformation.Year }}</p>
                <p>Дата регистрации: {{ car.carinformation.RegistrationDate }}</p>
                {% endfor %} 
            </div>   

                <h1>Информация о водителе:</h1>
                <p>Имя: {{ driver.name }}</p>
                <p>Фамилия: {{ driver.surname }}</p>
                <p>Город: {{ address.City }}</p>
                <p>Улица: {{ address.Street }}</p>
                <p>Дом: {{ address.House }}</p>
                <p>Квартира: {{ address.Flat }}</p>
                <hr style="float: up; width: 100%;">
                <p>Номер водительского удостоверения: {{ driver_license.number }}</p>
                <p>Статус:
                    {% if driver_license.status.id == 1 %}
                    <span class="text-success">{{ driver_license.status.status }}</span>
                    {% elif driver_license.status.id == 2 %}

                    <span class="text-danger">{{ driver_license.status.status }}</span>
                    {% endif %}
                </p>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <label for="type_warning">Тип нарушения:</label>
                        <select id="type_warning" name="type_warning">
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.Type }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="code_warning">Код нарушения:</label>
                        <select id="code_warning" name="code_warning">
                            {% for code in codes %}
                                <option value="{{ code.id }}">{{ code.Code }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="warning">Предупреждение:</label>
                        <input type="checkbox" id="warning" name="warning" value="yes">
                    </p>
                    <p>
                        <label for="term_deprivation">Срок лишения прав:</label>
                        <input type="text" id="term_deprivation" name="term_deprivation">
                    </p>
                    <input type="submit" value="Выписать штраф">
                </form>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>