{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
          
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Информация о водителе</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container" style="float: up; width: 100%;">
        <a href="{% url 'search_driver_license' %}" class="btn btn-link">Назад к поиску водительских удостоверений</a>
        
        <hr>
        <div style="overflow: hidden;">
            <div style="float: right; width: 30%;">
                {% for car in cars %}
                <h1>Информация об автомобиле:</h1>
                <p>Марка: {{ car.carinformation.Brand }}</p>
                <p>Модель: {{ car.carinformation.Model }}</p>
                <p>Цвет: {{ car.carinformation.Color }}</p>
                <p>Год выпуска: {{ car.carinformation.Year }}</p>
                <p>Дата регистрации: {{ car.carinformation.RegistrationDate }}</p>
                {% endfor %} 
            </div>   

                <h1>Информация о водителе:</h1>
                <p>Имя: {{ driver.name }}</p>
                <p>Фамилия: {{ driver.surname }}</p>
                <p>Город: {{ address.City }}</p>
                <p>Улица: {{ address.Street }}</p>
                <p>Дом: {{ address.House }}</p>
                <p>Квартира: {{ address.Flat }}</p>
                <hr style="float: up; width: 100%;">
                <p>Номер водительского удостоверения: {{ driver_license.number }}</p>
                <p>Статус:
                    {% if driver_license.status.id == 1 %}
                    <span class="text-success">{{ driver_license.status.status }}</span>
                    {% elif driver_license.status.id == 2 %}

                    <span class="text-danger">{{ driver_license.status.status }}</span>
                    {% endif %}
                </p>
            <div>


                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Создать</button>
                    {% if messages %}
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
                {% endif %}
                <style>
                    .success {
                        color: green;
                    }
                </style>
            </form>

            
            <a href="#" data-toggle="popover" data-content-src="{% static 'warnings.txt' %}">Забыли код штрафа?</a>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
            
          </head>
            <script>
                $(function () {
                    $('[data-toggle="popover"]').popover({
                      html: true,
                      trigger: 'hover',
                      content: function () {
                        var content = $(this).attr("data-content-src");
                        return $.ajax({
                          url: '/static/warnings.txt',
                          type: "GET",
                          dataType: "text"
                        }).then(function (data) {
                          return data;
                        });
                      }
                    });
                  });
                </script>
                </script>
                </script>
                </script>
                <style>
                    #code {
                        position: absolute;
                        right: 1100px ;
                        bottom:390px ;
                    }
                </style>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>