
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'EmployeeMain' %}" class="btn btn-link">Вернуться в главную панель</a>
  <h1>Введите номер водительского удостовренеия водителя</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.number }}
    <button type="submit">Найти</button>
  </form>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <p>Памятка для сотрудника ГИБДД при выписывании штрафа</p>
	<ol>
		<li>Проверьте, что нарушение действительно имеет место. Для этого убедитесь, что водитель нарушил одно из правил дорожного движения, предусмотренных законодательством.</li>
		<li>Убедитесь, что штраф выписывается в соответствии с размерами, установленными законом. Если нарушение не является крупным или особо крупным, то размер штрафа должен быть установлен в пределах законодательных норм.</li>
		<li>Заполните бланк штрафного талона согласно установленным правилам. В бланке должны быть указаны данные о водителе и автомобиле, а также описано нарушение, совершенное водителем.</li>
		<li>Объясните водителю, как он может оплатить штраф. Укажите способы оплаты (через банк, по почте и т.д.) и сроки оплаты.</li>
		<li>Выдайте водителю копию штрафного талона. Объясните, что это означает, и что он должен делать с копией.</li>
		<li>Важно помнить, что выписывать штрафы нужно в рамках закона и только в тех случаях, когда нарушение действительно имеет место. Если вы не уверены в правильности своих действий, проконсультируйтесь со своим начальством.</li>
	</ol>
</body>
</html>