<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Панель сотрудника ГАИ</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/logo.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <img src="/static/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Hard5</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none ">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                  <li class="nav-item dropdown pe-3">

                  
          
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                      <li class="dropdown-header">
                       
           
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="">
                          <i class="bi bi-person"></i>
                          <span>Профиль</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="">
                          <i class="bi bi-gear"></i>
                          <span>Настройки</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="">
                          <i class="bi bi-box-arrow-right"></i>
                          



                        </a>
                      </li>
          
                    </ul><!-- End Profile Dropdown Items -->
                  </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="">
                    <i class="bi bi-grid"></i>
                    <span>Статистика</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed"  href="{% url 'search_driver_license' %}">
                    <i class="bi bi-clipboard-data"></i><span>Выписать штраф</span></i>
                </a>
                
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed"  href="{% url 'auth' %}">
                    <i class="bi bi-clipboard-data"></i><span>Поставить машину <br> на учёт</span></i>
                </a>
                
              </li>
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Статистика</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Главная страница</a></li>
                    <li class="breadcrumb-item active">Статистика</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

                        <!-- Reports -->
                       




                    </div>
                </div>

              
                <body>
                  <a href="{% url 'EmployeeMain' %}" class="btn btn-link">Вернуться в главную панель</a>
                  <h1>Введите номер водительского удостовренеия водителя</h1>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.number }}
                    <button type="submit">Найти</button>
                  </form>
                  {% if error_message %}
                    <p>{{ error_message }}</p>
                  {% endif %}
                  <p>Памятка для сотрудника ГИБДД при выписывании штрафа</p>
                  <ol>
                    <li>Проверьте, что нарушение действительно имеет место. Для этого убедитесь, что водитель нарушил одно из правил дорожного движения, предусмотренных законодательством.</li>
                    <li>Убедитесь, что штраф выписывается в соответствии с размерами, установленными законом. Если нарушение не является крупным или особо крупным, то размер штрафа должен быть установлен в пределах законодательных норм.</li>
                    <li>Заполните бланк штрафного талона согласно установленным правилам. В бланке должны быть указаны данные о водителе и автомобиле, а также описано нарушение, совершенное водителем.</li>
                    <li>Объясните водителю, как он может оплатить штраф. Укажите способы оплаты (через банк, по почте и т.д.) и сроки оплаты.</li>
                    <li>Выдайте водителю копию штрафного талона. Объясните, что это означает, и что он должен делать с копией.</li>
                    <li>Важно помнить, что выписывать штрафы нужно в рамках закона и только в тех случаях, когда нарушение действительно имеет место. Если вы не уверены в правильности своих действий, проконсультируйтесь со своим начальством.</li>
                  </ol>
                </body>

                  
                

                
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
  

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/static/assets/vendor/quill/quill.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>

</body>

</html>